* {
    font-family: "Mulish", sans-serif;
}

.body-wdt {
    margin: 0 auto;
    width: 1550px;
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

#nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 400px;
}

#nav-3{
    display: none;
}

#nav-1 > h1 {
    font-size: 36px;
    margin-left: 17px;
    cursor: pointer;
}

.sec-1 h1 {
    font-size: 64px;
    color: white;
    margin: 24px 0;
}

.sec-1 p {
    font-size: 16px;
    width: 600px;
    color: white;
    margin-bottom: 30px;
}

.sec-1 {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(Images/Group-13\(1\)\(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 120px;
}

.sec-1-input {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    gap: 24px;
    background: rgb(255, 255, 255, 50%);
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.input-design {
    font-size: 14px;
    color: black;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 165px;
    height: 45px;
}

.nav-anchor {
    position: relative;
    font-size: 18px;
    color: #424247;
    text-decoration: none;
    margin: 0 44px;
    transition: color 0.2s ease 0s;
}

.nav-anchor:hover {
    color: #FF5400;
}

.sec-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.sec-2-d-1 {
    padding-right: 50px;
}

.sec-2-d-1 h1 {
    font-size: 40px;
    font-weight: 800;
}

.sec-2-d-1>p,
li {
    font-size: 16px;
    text-align: left;
}

.sec-2-child {
    padding-bottom: 24px;
}

.sec-2-child li {
    padding-bottom: 16px;
}

.sec-3 {
    margin: 100px 0;
}

.sec-3 .sec-3topper {
    text-align: center;
}

.sec-3-p {
    width: 600px;
    margin: 24px auto;
}

.sec-3-d-2 {
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 24px 0;
    margin-top: 40px;
}

.row img {
    width: 100%;
}

.row-2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 24px;
    margin-bottom: 24px;
}

.row-2 img {
    width: 100%;
    height: 286px;
}

.row-3 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* gap: 24px; */
}

.row-3 img {
    width: 100%;
    height: 300px;
}

.img-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-r11 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    width: 580px;
    margin: 24px auto;
    padding: 150px 75px;
    background: url(Images/Rectangle-5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

#img-r12 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    width: 580px;
    margin: 24px auto;
    padding: 150px 75px;
    background: url(Images/Rectangle-8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.img-row-2 {
    display: flex;
    justify-content: space-between;
}

#img-r21 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    width: 374px;
    margin: 24px;
    padding: 150px 75px;
    background: url(Images/Rectangle-6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

#img-r22 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    width: 474px;
    margin: 24px;
    padding: 150px 75px;
    background: url(Images/Rectangle-7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

#img-r23 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    width: 374px;
    margin: 24px;
    padding: 150px 75px;
    background: url(Images/Rectangle-9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.img-row-3 {
    display: flex;
}

#img-r31 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    width: 473px;
    margin: 24px;
    padding: 150px 75px;
    background: url(Images/Rectangle-11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

#img-r32 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    width: 673px;
    margin: 24px;
    padding: 150px 75px;
    background: url(Images/Rectangle-10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.sec-4-d-1 {
    text-align: center;
    width: 700px;
    margin: 24px auto;
}

.sec-4-d-1 h1 {
    font-size: 40px;
}

.sec-4-d-1 p {
    font-size: 16px;
}

#sec-4-d-2 {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.sec-4-d-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
}

.module {
    padding: 40px 60px;
    width: 573px;
    border-radius: 15px;
}

.module h2 {
    font-size: 24px;
    font-weight: 800;
}

.module p {
    font-size: 16px;
}

.sec-4-module-1 {
    background: rgba(251, 181, 99, 0.2);
}

.sec-4-module-2 {
    background: rgba(41, 206, 246, 0.2);
}

.sec-4-module-3 {
    background: rgba(233, 68, 68, 0.2);
}

.sec-4-icon {
    width: 64px;
}

.sec-5-d-1 {
    text-align: center;
}

.sec-5-d-1 h3 {
    font-size: 40px;
}

.sec-5-d-1 p {
    font-size: 16px;
    width: 643px;
    margin: 0 auto;
}

.rec-module-1-part-1 {
    display: flex;
    gap: 24px;
    align-items: center;
}

.sec-5-midule-1-for-bg {
    background: url(Images/Group-39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 500px;
    margin: 40px auto;
}

.rec-module-1-container {
    background: rgb(255, 255, 255, 80%);
    border-radius: 20px;
    padding: 50px;
    margin: 20px 60px 20px 800px;
}

.rec-module-2-part-1 {
    display: flex;
    gap: 24px;
    align-items: center;
}

.sec-5-midule-2-for-bg {
    background: url(Images/Group-40.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 500px;
    margin: 40px auto;
}

.rec-module-2-container {
    background: rgb(255, 255, 255, 80%);
    border-radius: 20px;
    padding: 50px;
    margin: 20px 800px 20px 60px;
}

.rec-module-h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 10px auto;
}

.sec-5-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

#sec-5-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.sec-6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
}

.sec-6-d-1 {
    width: 532px;
}

.sec-6-h1 {
    font-size: 40px;
    font-weight: 800;
}

.sec-6-p {
    font-size: 16px;
    padding-right: 60px;
}

.sec-6-ul {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 700;
}

.sec-6-ul>li {
    margin-bottom: 16px;
}

.sec-7-d-1 {
    border: 1.5px solid #FF5400;
    border-radius: 20px;
    padding: 40px 60px;
}

.sec-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 100px 0;
}

.sec-7-inp {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sec-7-inp input {
    padding: 15px 20px;
    border-radius: 10px;
    width: 393px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}

.sec-7-h2 {
    font-size: 24px;
    font-weight: 800;
}

.sec-7-p {
    color: #5A5A5D;
    width: 350px;
}

.Travel-float {
    position: absolute;
    top: 6580px;
    right: 320px;
    transform: rotate(-20deg);
    display: flex;
    width: 324px;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    background: #FF5400;
    border-radius: 20px;
    color: white;
}

.Travel-float>h2,
.Travel-float>p {
    margin: 3px 0;
}

#foot-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 80px;
}

.social-icon {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.social-icon>i {
    cursor: pointer;
}

footer>p {
    margin: 20px auto;
    width: 780px;
}
.foot-line{
    border: 0.1px solid gray; margin: 50px auto; width: 800px;
}

.orange-btn {
    font-size: 20px;
    font-weight: 800;
    border: 0;
    border-radius: 8px;
    padding: 16px 35px;
    color: white;
    background: #FF5400;
    cursor: pointer;

    transition: transform 0.2s ease 0s, background-color 0.2s ease 0s;
}

.sec-7-btn {
    width: 100%;
}

.orange-btn:hover {
    transform: translateY(-5px);
    background-color: red;
}

.orange-t {
    color: #FF5400;
}


@media screen and (max-width: 576px) {
    .body-wdt {
        width: 90%;
        margin: 0 auto;
    }
    #nav-3{
        display: contents;
        font-size: 36px;
        cursor: pointer;
    }
    #main-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #nav-1{
        padding-right: 0;
    }
    .nav-anchor {
        display: none;
    }
    .sec-1-input{
        flex-direction: column;
    }
    .sec-1 > p{
        width: auto;
    }
    .sec-1{
        padding: 45px;
    }
    .sec-2{
        flex-direction: column;
        gap: 24px;
    }
    .sec-3-p{
        width: auto;
    }
    .img-row-1{
        flex-direction: column;
    }
    #img-r11{
        width: 60%;
    }
    #img-r12{
        width: 60%;
    }
    #img-r21{
        width: 60%;
    }
    #img-r22{
        width: 60%;
    }
    #img-r23{
        width: 60%;
    }
    #img-r31{
        width: 60%;
    }
    #img-r32{
        width: 60%;
    }
    .img-row-2{
        flex-direction: column;
    }
    .img-row-3{
        flex-direction: column;
    }
    .sec-4-d-1{
        width: auto;
    }
    #sec-4-d-2{
        flex-direction: column;
    }
    .module{
        width: auto;
    }
    .sec-5-d-1 > p{
        width: auto;
    }
    /* top | right | bottom | left */
    .rec-module-1-container{
        margin: 200px 20px 20px 20px;
    }
    .sec-5-midule-1-for-bg{
        height: auto;
    }
    .rec-module-2-container{
        margin: 200px 20px 20px 20px;
    }
    .sec-5-midule-2-for-bg{
        height: auto;
    }
    .rec-module-3-container{
        margin: 200px 20px 20px 20px;
    }
    .sec-5-midule-3-for-bg{
        height: auto;
    }
    .rec-module-1-part-1{
        gap: 16px;
    }
    .rec-module-2-part-1{
        gap: 16px;
    }
    .rec-module-3-part-1{
        gap: 16px;
    }
    .sec-6{
        flex-direction: column;
    }
    .sec-6-d-1{
        width: auto;
        margin-bottom: 30px;
    }
    .sec-6-d-2{
        width: 100%;
    }
    .sec-6-d-2 > iframe{
        width: 100%;
        height: 300px;
    }
    .sec-7{
        flex-direction: column;
    }
    .sec-7-d-2>img{
        width: 100%;
    }
    footer>p{
        width: 80%;
    }
    .foot-line{
        width: 60%;
    }
    footer{
        padding: 0;
    }
    .Travel-float{
        top: 10630px;
        right: 41px;
    }
}